In [5]:
my_set = {1,2,6,9}

In [7]:
my_set.add(5)
print(my_set)

{1, 2, 5, 6, 9}

In [8]:
my_set.remove(5)
print(my_set)

{1, 2, 6, 9}

In [9]:
# discard method removes the element but if element not present then it doesnt show error

my_set.discard(5)
print(my_set)

{1, 2, 6, 9}

In [10]:
my_set.pop()

1

In [11]:
my_set.clear()
print(my_set)

set()

In [24]:
set1 = {10,9,8,7,6,5}
print(2 in set1)
print(8 in set1)

False
True

In [25]:
set2 = {1,2,3,4,5,6}

In [26]:

union_set = set1.union(set2)
print(union_set)

intersection_set = set1.intersection(set2)
print(intersection_set)

# intersection_update replaces the first set values wid the intersection of both sets
set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{5, 6}
{5, 6}

In [27]:
set2.difference(set1)

{1, 2, 3, 4}

In [28]:
set2

{1, 2, 3, 4, 5, 6}

In [29]:
set1

{5, 6}

In [30]:
set2.symmetric_difference(set1)  # removes the intersection elements only

{1, 2, 3, 4}

In [32]:
set1 = {1,2,3,4,5,6,7}
set2 = {3,4,5}

print(set1.issubset(set2))
print(set1.issuperset(set2))

False
True

In [33]:
lt = [1,2,2,3,4,5,4]

# to remove duplicates from list

print(set(lt))

{1, 2, 3, 4, 5}

In [38]:
text = "In ths tutorial we are discussing about sets"
words = text.split()
print(words)

print(set(words))

['In', 'ths', 'tutorial', 'we', 'are', 'discussing', 'about', 'sets']
{'are', 'tutorial', 'sets', 'In', 'discussing', 'we', 'ths', 'about'}