In [16]:
def is_even(num):
    if num%2 == 0:
        return 'even'
    else :
        return "Odd"

is_even(13)

'Odd'

In [22]:
# with map()

values = (6,7,8,9,10)
dict = {'A':25,'B':26,'C':89,'D':14}
print(list(map(is_even,values)))
res = map(is_even,dict.values())
print(list(res))

['even', 'Odd', 'even', 'Odd', 'even']
['Odd', 'even', 'Odd', 'even']

In [24]:
# lambda with map()

result = map(lambda x:x%2 == 0,dict.values())
print(list(result))

[False, True, False, True]

In [26]:
#map() with multiple iterables

values1 = (1,2,3,4)
dict = {'A':25,'B':26,'C':89,'D':14}
added_numbers = map(lambda x,y:x+y,values1,dict.values())
print(list(added_numbers))

[26, 28, 92, 18]

In [28]:
# convert list of strings to integers

str1 = ['a','A','b','B','c','C']
list(map(lambda x:ord(x),str1))

[97, 65, 98, 66, 99, 67]

In [35]:
#alternate

str2 = ['1','2','3','4','5','6']
list(map(int,str2))

[1, 2, 3, 4, 5, 6]

In [36]:
# turn list of strings into uppercase strings

words = ['Apple','banana','CHerry']
upper_case = list(map(str.upper,words))
print(upper_case)

['APPLE', 'BANANA', 'CHERRY']

In [38]:
def details(person):
    return person['name']

people = [{'name':'Ishika','age':20},{'name':'Sonu','age':22}]
list(map(details,people))

['Ishika', 'Sonu']